[submodule ".vim/pack/global/start/vim-commentary"]
	path = .vim/pack/global/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/global/start/vim-eslint-compiler"]
	path = .vim/pack/global/start/vim-eslint-compiler
	url = https://github.com/salomvary/vim-eslint-compiler.git
[submodule ".vim/pack/global/start/vim-fugitive"]
	path = .vim/pack/global/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/global/start/vim-grepper"]
	path = .vim/pack/global/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule ".vim/pack/global/start/vim-lsc"]
	path = .vim/pack/global/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule ".vim/pack/global/start/vim-signify"]
	path = .vim/pack/global/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
